<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grup15.gtuticaret">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GTÜ E-Alışveriş"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductScreen"></activity>
        <activity android:name=".Categories"></activity>
        <activity android:name=".productContent" ></activity>
        <activity android:name=".commentsPage"></activity>
        <activity android:name=".Hesabim"></activity>
        <activity android:name=".Cuzdanim"></activity>
        <activity android:name=".Sepet"></activity>
        <activity android:name=".addProduct"></activity>
        <activity android:name=".KayitOl"
            android:theme="@style/Giris"></activity>
        <activity android:name=".Giris"
            android:theme="@style/Giris"></activity>
        <activity android:name=".AnaEkran"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Ayarlar"></activity>
        <activity android:name=".MenuBar" />


    </application>

</manifest>
